.footer {
    background-color: #212121;
    padding-top: 60px;
    padding-bottom: 60px;
}


.footer-content {
    align-items: baseline;
    @media screen and (min-width: 768px){
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
    @media screen and (min-width: 1200px){
        flex-wrap: nowrap;
   }
}