:root {
    --secondary-text-color: #757575;
    --title-text-color: #212121;
    --accent-color: #2196f3;
    --primari-white-color: #ffffff;
    --additional-color: rgba(255, 255, 255, 0.6);
    --additional-baskground-color: #f5f4fa;
    --primari-color-icon: #AFB1B8;

}